In [14]:
import pandas as pd
import numpy as np
import datetime
from iertools.calc import wd 
# https://github.com/AltamarMx/iertools/blob/main/notebooks/001_calc_CalculateWindDirectionFromUVW.ipynb

In [2]:
f = '../data/u_v_w.csv'
uvw = pd.read_csv(f,index_col=0,parse_dates=True)
uvw

                        u     v     w
fecha
2022-03-12 15:00:23 -0.38 -0.28  0.16
2022-03-12 15:00:24 -0.41 -0.30  0.10
2022-03-12 15:00:25 -0.43 -0.26  0.13
2022-03-12 15:00:26 -0.39 -0.15  0.14
2022-03-12 15:00:27 -0.32 -0.01  0.14
...                   ...   ...   ...
2022-03-12 15:41:34 -0.51 -1.50  0.21
2022-03-12 15:41:35 -0.41 -1.59  0.19
2022-03-12 15:41:36 -0.35 -1.71  0.24
2022-03-12 15:41:37 -0.38 -1.66  0.27
NaT                   NaN   NaN   NaN

[148620 rows x 3 columns]

In [20]:
hoy    = datetime.datetime.now()
indice = pd.date_range(hoy,periods=2,freq="10Min") 
columnas = ["u","v","w"]
df = pd.DataFrame(index=indice,columns=columnas)
df['v'] = 0.
df['u'] = 1.
df['w'] = 0.


df = wd(df)
df

                              u    v    w   ws     wd
2022-10-18 10:13:25.000816  1.0  0.0  0.0  1.0  180.0
2022-10-18 10:23:25.000816  1.0  0.0  0.0  1.0  180.0

In [ ]:
datos = formato_estacion(uvw)
datos.plot(subplots=True)

array([<AxesSubplot:xlabel='fecha'>, <AxesSubplot:xlabel='fecha'>,
       <AxesSubplot:xlabel='fecha'>, <AxesSubplot:xlabel='fecha'>,
       <AxesSubplot:xlabel='fecha'>], dtype=object)

In [6]:
datos.to_csv('../data/ws_wd.csv')